<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bg2.bg2yamba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".YambaApplication"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.bg2.bg2yamba.WelcomeActivity"
            android:label="@string/title_activity_welcome">
        
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        
        </activity>
        
        <activity
            android:name="com.bg2.bg2yamba.TimelineActivity"
            android:label="@string/titleTimeline" />
        
        
        <activity
            android:name="com.bg2.bg2yamba.StatusActivity"
            android:label="@string/titleStatus" >
            
        </activity>
        <activity
            android:name="com.bg2.bg2yamba.PrefsActivity"
            android:label="@string/titlePrefs" />
        
        <service android:name=".UpdaterService" />
        
        <!--
	        Set up Boot Completed Receiver in order to start the UpdaterService
	        when the device starts
	    -->
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>